/* Normalize CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background: whitesmoke;
    border-top: 1px black solid;
    box-sizing: content-box;
    width: 100%;
    height: 30px;
    padding: auto;
    text-align: center;
    position: absolute;
    bottom: 0;
}


@keyframes beat {
    0%{transform: scale(1.0); -webkit-transform: scale(1.0); -moz-transform: scale(1.0); -ms-transform: scale(1.0); -o-transform: scale(1.0);}
    15%{transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }
    30%{transform: scale(1.0); -webkit-transform: scale(1.0); -moz-transform: scale(1.0); -ms-transform: scale(1.0); -o-transform: scale(1.0);}
}

footer span {
    text-align: center;
    display: inline-block;
    width: 25px;
    height: 25px;
    
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 20px;
}
